name: Deploy Lambda (Serverless)

on:
  push:
    branches: [ "main" ]

permissions:
  id-token: write     # Required for OIDC
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      AWS_REGION: eu-west-2

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Configure AWS credentials via OIDC
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::472938441939:role/lambda_deploy_role
          aws-region: ${{ env.AWS_REGION }}

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install Serverless Framework
        run: |
          npm install -g serverless
          npm install

      - name: Deploy with Serverless
        run: sls deploy --stage prod --region eu-west-2